.landing {
  background-color: red;
  align-items: center;
}


.btn {
  width: 300px; 
  transform: translateX(-1%);
  border-radius: 5px;
  margin: 0 auto;
  background-color: #000000;
  color: white;
  padding: 15px 25px;
  text-decoration: none;

}






